.App {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.App-header-row {
  flex: 0 0 auto;
}

.App-content-row {
  flex: 1 1 auto;
  position: relative;
}

.App-content-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}